@import "./variables.css";
@font-face {
  font-family: "Aeonik-regular";
  src: url("../../public/assets/fonts/Aeonik/Aeonik-Regular.otf");
}
@font-face {
  font-family: "Aeonik-bold";
  src: url("../../public/assets/fonts/Aeonik/Aeonik-Bold.otf");
}
@font-face {
  font-family: "Aeonik-black";
  src: url("../../public/assets/fonts/Aeonik/Aeonik-Black.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Aeonik-regular";
}
body,
html {
  background: var(--main_background);
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.input-group label {
  display: block;
  font-size: 0.9rem;
}
.input {
  border: none;
  padding: 0.7rem 1.1rem;
  padding-left: 2rem;
  border-radius: 12px;
  outline: none;
  transition: 0.3s all;
  border: 1px solid transparent;
  background: var(--box_background);
  color: var(--font_color);
}
.input:focus {
  border-color: var(--accent_color);
}
button {
  font-size: 1rem;
  background: none;
  outline: none;
  border: none;
}
.max-width {
  margin: 0 auto;
  max-width: 60rem;
}

a {
  color: unset;
  text-decoration: none;
}
